<nav id="nav" class="nav-primary hidden-xs nav-vertical">
  <div class="panel-group m-b" id="accordion2">

    <div class="panel">

      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsetopic">学校库
          <b class="caret hidden-xs-only"></b>
        </a>
      </div>
      <div id="collapsetopic" class="panel-collapse collapse <%= active_collapse(['schools']) %>">
        <div class="text-small">
          <ul class="nav">
            <li><a href="/admin/schools" class="<%= active_css('schools')%>"><span>学校管理</span></a></li>
          </ul>
        </div>
      </div>


      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseuser">用户模块
          <b class="caret hidden-xs-only"></b>
        </a>
      </div>
      <div id="collapseuser" class="panel-collapse collapse <%= active_collapse(['users', 'roles', 'user_roles', 'permissions', 'user_devices', 'user_logins']) %>">
        <div class="text-small">
          <ul class="nav">
            <li><a href="/admin/users" class="<%= active_css('users')%>"><span>用户管理</span></a></li>
            <li><a href="/admin/roles" class="<%= active_css('roles')%>"><span>角色管理</span></a></li>
            <li><a href="/admin/user_roles" class="<%= active_css('user_roles')%>"><span>角色分配</span></a></li>
            <li><a href="/admin/permissions" class="<%= active_css('permissions')%>"><span>权限配置</span></a></li>
            <li><a href="/admin/user_devices" class="<%= active_css('user_devices')%>"><span>用户设备</span></a></li>
            <li><a href="/admin/user_logins" class="<%= active_css('user_logins')%>"><span>登录来源</span></a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</nav>