<section class="main padder">
  <div class="row">
    <section class="col-lg-12">
      <div class="panel m-t">
        <header class="panel-heading"><%= resource_name %>详情</header>
        <table class="table table-striped m-b-none text-small">
          <tbody>
            <tr><th width="150">名称</th><td class="text-left"><%= @record.name %></td></tr>
            <tr><th>图片</th>
              <td class="text-left">
                <% if @record.avatar %>
                  <div class="item">
                    <a href="<%= @record.avatar %>" rel="prettyPhoto" class="item-media">
                      <img src="<%= @record.avatar %>" style="max-width:200px;">
                    </a>
                  </div>
                <% else %>
                  无封面图
                <% end %>
              </td>
            </tr>
            <tr><th width="150">简述</th><td class="text-left"><%= @introduction.short_content %></td></tr>
            <tr><th width="150">详细描述</th><td class="text-left"><%= @introduction.full_content %></td></tr>
          </tbody>
          <tfoot>
              <tr>
                <th class="row" colspan="2">
                  <a class="btn btn-inverse" href="/admin/schools/">返回列表</a>
                </th>
              </tr>
            </tfoot>
        </table>
      </div>
    </section>
   </div>
</section>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){

    $('a[rel^="prettyPhoto"]').prettyPhoto({
        slideshow: 5000,
        autoplay_slideshow: false
    });

  });
  //]]>
</script>