<section class="main padder">
  <div class="row">
    <section class="col-lg-12">
      <div class="panel m-t">
        <header class="panel-heading"><%= resource_name %>列表</header>
        <div class="panel-body">
          <div class="row text-small">
            <%= search_form_for([:admin, @search], id: 'searchForm') do |f| %>
              <div class="col-sm-2">
                <%= f.text_field(:name_cont, placeholder: "用户名", class: "form-control" ) %>
              </div>
              &nbsp;&nbsp;
              <%= f.submit "查询", class: "btn btn-sm btn-white" %>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-success btn-sm" href="/admin/users/new"><i class="fa fa-plus"></i>添加<%= resource_name %></a>
            <% end %>
          </div>
        </div>

        <table class="table table-striped m-b-none text-small">
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>邮箱</th>
              <th>手机号</th>
              <th>性别</th>
              <th>姓名</th>
              <th>状态</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% if @records && @records.size > 0 %>
              <% @records.each do |record| %>
                <tr  id="record_<%= record.id %>">
                  <td><%= record.id %></td>
                  <td><a href="/admin/users/<%= record.id %>" title="查看详情"><%= record.name %></a></td>
                  <td><%= record.email %></td>
                  <td><%= record.cellphone %></td>
                  <td><%= record.sex_word %></td>
                  <td><%= record.display_name %></td>
                  <td><%= record.status_word %></td>
                  <td><%= chinese_datetime(record.created_at) %></td>
                  <td>
                    <a href="/admin/users/<%= record.id %>" title="查看详情"><i class="fa fa-tag"></i></a>
                    <a href="/admin/users/<%= record.id %>/edit" title="编辑"><i class="fa fa-edit"></i></a>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="10">无<%= resource_name %>数据</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @records && @records.size > 0 %>
        <%= paginate @records %>
      <% end %>
    </section>
  </div>
</section>